<h1><%= @dvd.titre %></h1>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
  <%= image_tag("504498.jpg") %></div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <p>Auteur: <%= @dvd.auteur %></p>
  <p>Acteur: <%= Acteur.find(@dvd.acteur_id).nom+" "+Acteur.find(@dvd.acteur_id).prenom %></p>
  <p>Année: <%= @dvd.annee %></p>
  <p>Catégorie: <%= Categorie.find(@dvd.categorie_id).nom %></p>
  <p>En stock : <%= @dvd.nombre %></p>
  <% societe=Societe.find(@dvd.societe_id) %>
  <p>Société: <%= societe.nom %></p>
  <p><%= societe.ville %></p>
  <p>Note :<%= @moyenne %> / 5</p>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <% i = 0 %>
  <% if @note == nil %>
      <% while i <= 5  do %>
          <a class="btn btn-info" href="/dvd/note/<%= @dvd.id %>/<%= i %>"><%= i %></a>
          <% i +=1 %>
      <% end %>
  <% end %>
  </div>

</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 reserv">
    <a class="btn btn-info" href="https://www.zone-telechargement.ws" target="_blank">Réserver</a>
  </div>
</div>
<% @comments.each do |comment| %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comments">
    <p><%= comment.commentaires %></p>
    </div>
<% end %>
<%= form_tag "/dvd/comment", method: "post" do %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 com">
    <textarea name="comment">
    </textarea>
    </div>
    <input type="hidden" value="<%= @dvd.id %>" name="dvd" />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 com">
    <input class="btn btn-info com" type="submit" value="Laisser un commentaire"/>
    </div>
<% end %>
