<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dvds">
  <h1><%= @title %></h1>

  <% @dvds.each do |dvd| %>
      <a href="/dvd/<%= dvd.id %>">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-7">
            <%= image_tag("504498.jpg") %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
            <p><%= dvd.titre %></p>
            <p><%= dvd.annee %></p>
            <p>De <%= dvd.auteur %></p>
            <p>Vu <%= dvd.consultations %> fois</p>
          </div>
        </div></a>
  <% end %>


</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
  <div class="categorie">
  <h1>Les Categories :</h1>
  <% @cats.each do |cat| %>

      <a class="btn btn-info" href="/dvd/cat/<%= cat.id %>"><%= cat.nom %></a>

  <% end %>
  </div>
  <div class="top">
  <h1>Les plus consultés :</h1>
  <% @top.each do |t| %>

      <a class="btn btn-info" href="/dvd/<%= t.id %>"><%= t.titre %> vue : <%= t.consultations %></a>

  <% end %>
  </div>
</div>