<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  <h1><%= @title %></h1>
  <p><%= @content %></p>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
  <h1>Dernier ajout :</h1>
  <p><%= @lastdvd.titre %></p>
  <p>De : <%= @lastdvd.auteur %></p>
  <p>Avec : <%= @lastdvd.acteur %></p>
</div>

