<h1><%= @title %></h1>
<%= form_tag "/user/create", method: "post" do %>
    <input placeholder="Nom..." type="text" name="nom"/>
    <input placeholder="Mot de passe..." type="password" name="password"/>
    <input type="submit" value="Créer"/>

<% end %>

<%= @test %>
<%= session[:username] %>
<%= session[:userid] %>
